<template>
    <head>
        <title>Login Account - Aplikasi Kasir</title>
    </head>
    <div class="col-md-4">
        <div class="fade-in">
            <div class="text-center mb-4">
                <a href="" class="text-dark text-decoration-none">
                    <img src="/images/cas-machine.png" width="70">
                    <h3 class="mt-2 font-weight-bold">APLIKASI KASIR</h3>
                </a>
            </div>
            <div class="card-group">
                <div class="card border-top-purple border-0 shadow-sm rounded-3">
                    <div class="card-body">
                        <h5>LOGIN ACCOUNT</h5>
                        <P class="text-muted">Sign In to your account</P>
                    </div>
                    <hr>
                    <div v-if="session.status" class="alert alert-success mt-2">
                        {{ session.status }}
                    </div>
                    <form @submit.prevent="submit">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-envalope"></i>
                            </span>
                        </div>
                        <input class="form-control" v-model="form.email" :class="{ 'is-invalid: error.email'}" type="email" placeholder="Email Address">
                    </div></form>
                </div>
                <div v-if="errors.password" class="alert alert-danger">
                {{ errors.password}}
                </div>
                <div class="row">
                    <div class="col-12 mb-3 text-end">
                        <link rel="stylesheet" href="forgot-password">Forgot Password?
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary shadow-sm rounded-sm px-4 w-100" type="submit">LOGIN</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>